* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
 h1{
	margin: 8px;
 }
#canvas1 {
	background-image: #eee;
	display: block;
	border: 12px solid rgb(61, 165, 12);
	/* margin: :0 auto; */
}